# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @mattklein123 @zuercher @ggreenway @yanavlasov @agrawroh @phlax @RyanTheOptimist @jmarantz @adisuissa @KBaichoo @wbpcode @keith @kyessenov @ravenblackx @nezdolik @mathetake @botengyao @jwendell @krinkinmu @Xunzhuo @arkodg @zirain @zhaohuabing @shawnh2 @guydc @rudrakhp @cnvergence @jukie @kkk777-7 @aabchoo @yuzisun @missBerg @gavrissh @nacx @johnugeorge @wengyao04 
